<nav id="navbar">
    <a href="/" class=navbartitle>Carbs Linux</a>

    <label for="hamburger">&#9776;</label>
    <input type="checkbox" id="hamburger" />
    <ul id=navbarlist>
        <li><a href="/" title="Home Page">Home</a></li>
        <li><a href="//git.carbslinux.org" title="Git Repository">Git</a></li>
        <li><a href="/download.html" title="Download Carbs Linux">Download</a></li>
        <li><a href="/blog" title="Blog Posts">Blog</a></li>
        <li><a href="/install.html" title="Installation Instructions">Installation</a></li>
        <li><a href="/docs.html" title="Documentation">Docs</a></li>
    </ul>
</nav>
